@import "tailwindcss";
@source "../views";
@custom-variant dark (&:where(.dark, .dark *));

@media (min-width: 992px) {
    .navbar .dropdown:hover .dropdown-menu {
        all: unset !important;
        display: none !important;
        opacity: 0 !important;
        visibility: hidden !important;
    }

    .navbar .dropdown .dropdown-menu.show {
        display: block !important;
        opacity: 1 !important;
        visibility: visible !important;
    }
}
